Web3/App_WebReferences/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReadClaim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="claimNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadClaimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadClaimResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findClaim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strbegin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strend" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="findClaimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="findClaimResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="claimNum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="readVehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="readVehicleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadClaimSoapIn">
    <wsdl:part name="parameters" element="tns:ReadClaim" />
  </wsdl:message>
  <wsdl:message name="ReadClaimSoapOut">
    <wsdl:part name="parameters" element="tns:ReadClaimResponse" />
  </wsdl:message>
  <wsdl:message name="CreateRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CreateRequest" />
  </wsdl:message>
  <wsdl:message name="CreateRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CreateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="findClaimSoapIn">
    <wsdl:part name="parameters" element="tns:findClaim" />
  </wsdl:message>
  <wsdl:message name="findClaimSoapOut">
    <wsdl:part name="parameters" element="tns:findClaimResponse" />
  </wsdl:message>
  <wsdl:message name="readVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:readVehicle" />
  </wsdl:message>
  <wsdl:message name="readVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:readVehicleResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ReadClaim">
      <wsdl:input message="tns:ReadClaimSoapIn" />
      <wsdl:output message="tns:ReadClaimSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateRequest">
      <wsdl:input message="tns:CreateRequestSoapIn" />
      <wsdl:output message="tns:CreateRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="findClaim">
      <wsdl:input message="tns:findClaimSoapIn" />
      <wsdl:output message="tns:findClaimSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="readVehicle">
      <wsdl:input message="tns:readVehicleSoapIn" />
      <wsdl:output message="tns:readVehicleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadClaim">
      <soap:operation soapAction="http://tempuri.org/ReadClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRequest">
      <soap:operation soapAction="http://tempuri.org/CreateRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findClaim">
      <soap:operation soapAction="http://tempuri.org/findClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readVehicle">
      <soap:operation soapAction="http://tempuri.org/readVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadClaim">
      <soap12:operation soapAction="http://tempuri.org/ReadClaim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRequest">
      <soap12:operation soapAction="http://tempuri.org/CreateRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findClaim">
      <soap12:operation soapAction="http://tempuri.org/findClaim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readVehicle">
      <soap12:operation soapAction="http://tempuri.org/readVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:50211/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:50211/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>